<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/styles.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
    <header>
        <h1>Home Page</h1>
        <form action="/logoutHandler" method="post">
            <input type="submit" value="Logout">
        </form>
    </header> 
    <div class="container">
        <div class="row" style="text-align: center;">
            <div id="view1" class="col-sm-4 col-sm-offset-4 customCol">
                <section style="margin:5px; padding: 5px">
                    <h3 style="color:honeydew; font-size: 30px;">To chat with the Chatbot</h3>
                </section>
                <section style="margin:5px; padding: 5px; position: relative; top:20px;">
                    <button type="button" class="btn btn-primary">Click Here</button>
                </section>
            </div>
            <!-- <div  id="view2" class="col-sm-4 col-sm-offset-1 customCol">
                <section style="margin:5px; padding: 5px">
                    <h3 style="color:honeydew; font-size: 30px;">For Our Customers</h3>
                </section>
                <section style="margin:5px; padding: 5px; position: relative; top:20px;">
                    <button type="button" class="btn btn-primary">Click Here</button>
                </section>
            </div> -->
        </div>
    </div>
    <!-- <div class="container">
        <input type="button" value="Click" onclick="myFunc();"/>
    </div> -->
    <!-- <script>
        var x1 = document.getElementById("view1");
        var x2 = document.getElementById("view2");
        function myFunc(){
            // console.log("view1 offsetHeight: "+x1.offsetHeight);
            // console.log("view1 clientHeight: "+x1.clientHeight);
            // console.log("view2 offsetHeight: "+x2.offsetHeight);
            // console.log("view2 clientHeight: "+x2.clientHeight);

            // console.log("view1 offsetWidth: "+x1.offsetWidth);
            // console.log("view1 clientWidth: "+x1.clientWidth);
            // console.log("view2 offsetWidth: "+x2.offsetWidth);
            // console.log("view2 clientWidth: "+x2.clientWidth);
            
        }
    </script> -->

 
</body>
</html>