<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- # is to be used to define a block of code --}}
{{!-- /is to be used to end a block of code--}}
{{#if condition}}
Condition true
{{else}}
Condition false
{{/if}}
{{# each arr}}
{{this}}
{{/each}}